div {
    display: inline-block;
    width: 40%;
  }

  p {
    font-size: 2em;
  }

  .cat {
    background-color: aquamarine;
    float: left;
  }

  .dog {
    float: right;
    background-color: coral;
    left: 60%;
  }

  footer {
   
    
    
    text-align: center;
    background-color: blueviolet;
    clear: both;
    
  }
  .cat > img{
    float: left;
  }

  .dog >img{
    float: left;
  }